body {
    background-image: url(background2.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}
.crinkles{
    float: left;
    width:350px; 
    height:450px;
    margin-left: 150px;
    margin-right: 25px;
    margin-top: 75px;
}
.Maricel {
    color: black;
    text-align: center;
    font-family: cursive;
    font-size: 50px;
    word-spacing: 3px
}
* {
    box-sizing: border-box;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: hsl(353, 20%, 76%);
    color:black;
}
.navbar-design {
    font-family: arial;
    font-size: 20px;
}
.navbar-design ul {
    margin: 0;
    padding: 0;
    display: flex;
}
.navbar li {
    display: inline;
    font-family: cursive;
    font-size: 20px;
    text-align: center;
    color: rgb(124, 71, 80);
}
.center-large {
    text-align: center;
    font-size: 20px;
    font-family: cursive;
    margin-right: 5cm;
    margin-left: 5cm;
    margin-top: 2cm;
}
.holiday-favorite {
    font-size:36px;
    margin-right: 200px;
    margin-top: 150px;
    font-family: frank ruhl libre, georgia, serif;
}
.description {
    font-family: cursive;
    margin-right: 150px;
    font-size: 18px;
    text-indent: 100px;
}
.easy {
    font-size:36px;
    margin-right: 200px;
    margin-top: 50px;
    font-family: frank ruhl libre, georgia, serif;
}
.description-number-2 {
    font-family: cursive;
    margin-right: 150px;
    font-size: 18px;
    text-indent: 100px;
}
.crinkles-cooking-procedure-and-recipe {
    font-family: frank ruhl libre, georgia, serif;
    font-size: 25px;
    margin-left: 150px;
    margin-top: 50px;
}
.measurements {
    margin-left: 150px;
    font-family: cursive;
    font-size: 18px;
}
p.baking-instruction {
    font-family: frank ruhl libre, georgia, serif;
    font-size: 25px;
    margin-left: 150px;
    margin-top: 50px;
}
.procedure {
    margin-left: 150px;
    font-family: cursive;
    font-size: 18px;
}
.fruitycake {
    float: right;
    width: 350px;
    height: 450px;
    margin-right: 150px;
    margin-left: 25px;
    margin-top: 150px; 
    margin-bottom: 50px;
}
.second-item {
    font-size: 36px;
    margin-left: 150px;
    margin-top: 230px;
    font-family: frank ruhl libre, georgia, serif;
}
.second-description-item {
    font-family: cursive;
    margin-left: 150px;
    font-size: 18px; 
}
.second-description-item-parag2 {
    font-family: cursive;
    margin-left: 150px;
    margin-top: 10px;
    font-size: 18px;
}
.second-description-item-parag3 {
    font-family: cursive;
    margin-left: 150px;
    margin-top: 10px;
    font-size: 18px;
}
.div-cake {
    float: right;
}
.fruitcake-second-pic {    
    width: 350px;
    height: 450px;
    margin-top: 250px;
    margin-left: 25px;
    float: right;
}
.cake {
    font-family: frank ruhl libre, georgia, serif;
    font-size: 25px;
    margin-left: 150px;
    margin-top: 150px;
}
.cake-first-procedure {
    font-family: frank ruhl libre georgia,serif;
    margin-top: 10px;
    margin-bottom: 30px ;
    margin-left: 150px;
}
.dough-ingredients {
    margin-left: 150px;
    font-family: cursive;
    font-size: 18px;
    top: 10px;
}
.buttercream {
    margin-left: 150px;
}
.buttercream-ingredients {
    margin-left: 150px; 
    font-family: cursive;
    font-size: 18px;
}
.preparation-title {
    margin-left: 150px;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-right: 200px;
}
.cake-procedure {
    margin-left: 150px;
    font-family: cursive;
    font-size: 18px;

}


