.crinkles{
    float: left;
    width:350px; 
    height:450px;
    margin-left: 150px;
    margin-right: 25px;
    margin-top: 75px;
}
.Maricel {
    color: black;
    text-align: center;
    font-family: cursive;
    font-size: 50px;
    word-spacing: 3px;
}
.center-large {
    text-align: center;
    font-size: 20px;
    font-family: cursive;
}
.holiday-favorite {
    font-size:36px;
    margin-right: 200px;
    margin-top: 150px;
    font-family: frank ruhl libre, georgia, serif;
}
.description {
    font-family: cursive;
    margin-right: 150px;
    font-size: 18px;
    text-indent: 100px;
}
.easy {
    font-size:36px;
    margin-right: 200px;
    margin-top: 50px;
    font-family: frank ruhl libre, georgia, serif;
}
.description-number-2 {
    font-family: cursive;
    margin-right: 150px;
    font-size: 18px;
    text-indent: 100px;
}
.fruitycake {
    float: right;
    width: 350px;
    height: 450px;
    margin-right: 150px;
    margin-left: 25px;
    margin-top: 150px; 
    margin-bottom: 50px;
}
.second-item {
    font-size: 36px;
    margin-left: 150px;
    margin-top: 230px;
    font-family: frank ruhl libre, georgia, serif;
}
.second-description-item {
    font-family: cursive;
    margin-left: 150px;
    font-size: 18px; 
}
.second-description-item-parag2 {
    font-family: cursive;
    margin-left: 150px;
    margin-top: 10px;
    font-size: 18px;
}
.second-description-item-parag3 {
    font-family: cursive;
    margin-left: 150px;
    margin-top: 10px;
    font-size: 18px;
}